.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-default {
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
